backup
terraform.tfstate
terraform.tfstate.backup
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform/
*.tfstate.backup
.terraform.lock.hcl
terraform/.terraform.lock.hcl